/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap');

/* Root Style */

:root {
  --primary-red: #bb3030;
  --off-white: #F5F5F5;
  --dark-grey: #121212;
  --letter-spacing: 2px;

}
/* General Styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #f5f5f5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/* Utilities */

.btn {
  padding: 0.4rem 0.8rem;
  display: inline-block;
  transition: all ease 0.8s;
}

.btn-primary {
  border: solid 4px var(--primary-red);
  color: var(--off-white);
}

.btn:hover {
  opacity: 0.7;
}


/* Showcase */
#showcase {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgba(0,0,0,0.8);
}

#showcase::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/gym-1.jpg') no-repeat center center/cover;
  z-index: -1;
}

/* Navbar Styles */

.openMenu {
  position: fixed;
  top: 2rem;
  right: 5%;
  color: var(--primary-red);
  font-size: 2rem;
  cursor: pointer;
  z-index: 100;
}

.logo {
  position: absolute;
  top: 2rem;
  left: 5%;
  width: 150px;
  z-index: 100;
}

.mainMenu {
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--dark-grey);
  z-index: 1000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-red);
  transition: all ease 1s;
}

.mainMenu li a {
  color: var(--off-white);
  display: block;
  margin: 2rem 0; 
  font-size: 2rem;
  transition: all ease 0.8s;
}

.mainMenu li a:hover {
  color: red;
}

.mainMenu .closeMenu {
  position: absolute;
  top: 2rem;
  right: 5%;
  color: var(--primary-red);
  font-size: 2rem;
  cursor: pointer;
  z-index: 100;
}


#showcase h1 {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--off-white);
}

#showcase h1 span {
  color: var(--primary-red);
  font-weight: 300;
}

#showcase h1 span:last-child {
  color: var(--off-white);
}

#showcase p {
  color: var(--off-white);
  margin-bottom: 1rem;
}

#showcase .social {
  margin-top: 1rem;

}

#showcase .social a{
  color: var(--off-white);
  font-size: 1.5rem;
  margin: 0 0.5rem;
  transition: all ease 0.8s;
}

#showcase .social a:hover {
  transform: scale(2);
  color: var(--primary-red);
}

.custom-shape-divider-bottom-1626432225 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1626432225 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
}

.custom-shape-divider-bottom-1626432225 .shape-fill {
  fill: var(--off-white);
}

/* USP Section */

#usp {
  transform: translateY(-6rem);
}

.usp-container {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.usp-item {
  text-align: center;
}

.usp-img {
  background: var(--off-white);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-red);
  font-size: 3rem;
}

.usp-item h3 {
  margin-bottom: 0.5rem;
}

/* Open Banner Section */

#open-info-banner {
  padding: 2rem 0;
  text-align: center;
  background: var(--primary-red);
  color: var(--off-white);
}

/* About Section */

#home-about {
  background: var(--primary-white);
  padding: 2rem 0;
}

.home-about-container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}

.home-about-images {
  height: 550px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.home-about-images div {
  height: 100%;
  background: url('../images/dumbbellarea.jpeg') no-repeat center center/cover;
}

.home-about-images div:last-child {
  transform: translateY(1rem);
  background: url('../images/lat-pull-down.jpeg') no-repeat center center/cover;
}

.home-about-info {
  position: relative;
  z-index: 1;
}


.home-about-info h1 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: var(--ltr-spacing);
  line-height: 1;
  text-align:justify;
}

.home-about-info h3 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 1rem;
  text-align:justify;
  color: var(--primary-red);
}

.home-about-info p {
  margin-bottom: 1rem;
  text-align:justify;
}

.home-about-container .btn {
  color: var(--primary-red);
}

/* Testimonial Banner */

#testimonial-banner {
  height: 60vh;
  background: rgba(0,0,0,0.8);
  position: relative;
  margin-top: 2rem;
}

#testimonial-banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/gym-2.jpg') no-repeat center center/cover;
  z-index: -1;
}

.testimonial-banner-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.testimonial-banner-container p {
  font-size: 2rem;
  color: var(--off-white);
  line-height: 2;
}

.testimonial-banner-container p i {
  color: var(--primary-red);
  margin: 0.5rem;
  font-size: 2.5rem;
}


.custom-shape-divider-bottom-1626433981 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1626433981 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
}

.custom-shape-divider-bottom-1626433981 .shape-fill {
  fill: var(--off-white);
}

/* Facilities */

#facilities {
  padding: 2rem;
}

#facilities > .btn {
  display: block;
  width: 10%;
  margin: auto;
  color: var(--primary-red);
  margin-top: 2rem;
  text-align: center;
}

#facilities > h2 {
  text-align: center;
  font-size: 2.5rem;
}

#facilities > h2 span {
  color: var(--primary-red);
}

#facilities > p {
  text-align: center;
  margin-bottom: 2rem;
}

.facilities-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
}

.fac-item {
  display: flex;
  background: white;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: all ease 1s;
}

.fac-item:hover {
  transform: scale(1.025);

}

.fac-item-left {
  width: 55%;
  color: var(--dark-grey);
  padding: 1rem;
}

.fac-item-left h2 {
  margin-bottom: 0.5rem;
}

.fac-item-left p {
  font-size: 0.9rem;
  text-align: justify;
}

.fac-item-right-1,
.fac-item-right-2,
.fac-item-right-3,
.fac-item-right-4 {
  width: 45%;
  background: red;
  height: 100%;
}

.fac-item-right-1 {
  background: url('../images/crosstrainer.jpeg') no-repeat center center/cover;
}

.fac-item-right-2 {
  background: url('../images/freeweightroom.jpeg') no-repeat center center/cover;
}

.fac-item-right-3 {
  background: url('../images/machine.jpg') no-repeat center center/cover;
}

.fac-item-right-4 {
  background: url('../images/stretching.jpeg') no-repeat center center/cover;
}

/* Industry Leading Section */

#ind {
  height: 40vh;
  background: rgba(0,0,0,0.8);
  border-radius: 3vh;
  overflow: hidden;
  position: relative;
}

#ind::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  background: url('../images/flex-dumbbells.jpg')no-repeat center center/cover;
  z-index: -1;
}

.ind-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--off-white); 
  height: 100%;
}

.ind-container h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

/* Sign Up Section */

#signup {
  padding: 4rem 0;
}

.signup-container {
  color:var(--dark-grey);
  text-align: center;
}

.signup-container h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.signup-container h2 span {
  color:var(--primary-red);
}

.signup-container > .btn {
  color: var(--primary-red);
}
/* Footer */

#footer {
  background: var(--dark-grey);
  padding: 1rem 0 0.5rem 0;
}

#footer > p {
  text-align: center;
  font-size: 0.9rem;
  text-align: center;
  color: var(--off-white);
}

.footer-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: var(--off-white);
  padding: 2rem 0;
}

.footer-container h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  letter-spacing: var(--letter-spacing);
}

.footer-container .quick-links {
  display: flex;
  flex-direction: column;
}

.footer-container .quick-links a{
  color: var(--off-white);
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
}

.footer-container .contact-details p{
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
}

.footer-container .footer-social {
  display: flex;
  flex-direction: column;
}

.footer-container .footer-social a {
  margin-bottom: 0.3rem;
  color: var(--off-white);
  font-size: 0.9rem;
}

.footer-container .legal {
  display: flex;
  flex-direction: column;
}

.footer-container .legal a {
  color: var(--off-white);
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

/**************** About Page ***************/

#about-header {
  height: 40vh;
  width: 100%;
  background: rgba(0,0,0,0.8);
  position: relative;
}

#about-header::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/gym-1.jpg') no-repeat center center/cover;
  z-index: -1;
}

.about-header-container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--off-white);
}

.about-header-container h1 {
  font-size: 3rem;
  letter-spacing: 3px;
}

/* About Content */

#about-content {
  padding: 3rem 0;
}

.about-content-container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
}

.about-content-info,
.about-content-info-2 {
  padding: 1rem;
}

.about-content-info h3,
.about-content-info-2 h3 {
  color: var(--primary-red);
  font-size: 1.8rem;
  letter-spacing: var(--letter-spacing);
  margin-bottom: 1rem;
}

.about-content-info p,
.about-content-info-2 p {
  text-align: justify;
}

/* About Cards */

#about-cards {
  padding: 3rem 0;
  background: #e2e1e1;
}

.about-cards-container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 0.5rem;
}

/* About Images */

.about-images {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 80%;
  margin: 2rem auto;
  gap: 0.5rem;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

}
/* Card */
.about-card {
  padding: 0.5rem;
  text-align: center;
}

.about-card i {
  font-size: 2.5rem;
  color: var(--primary-red);
  margin-bottom: 0.5rem;
}

.about-card-h4 {
  letter-spacing: var(--letter-spacing);
  font-size: 1.2rem;
}

.about-card p {
  margin-top: 0.5rem;
}

/* About Banner */

#about-banner {
  height: 60vh;
  background: rgba(0,0,0,0.8);
  position: relative;
}

#about-banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/gym-1.jpg') no-repeat center center/cover;
  z-index: -1;
}

.about-banner-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  justify-content: center;
  color: var(--off-white);
  height: 100%;
}

.about-banner-container h3 {
  font-size: 1.6rem;
  letter-spacing: var(--letter-spacing);
  margin-bottom: 1rem;
}

.about-banner-container p {
  width: 60%;
  line-height: var(--line-height);
  margin-bottom: 1rem;
}

.about-banner-container .btn {
  padding: 0.5rem 1rem;
  border: 2px solid var(--off-white);
  text-align: center;
  width: 15%;
  color: var(--off-white);
}

/*********** Team Page ************/

#team-header {
  height: 40vh;
  width: 100%;
  background: rgba(0,0,0,0.8);
  position: relative;
}

#team-header::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/gym-1.jpg') no-repeat center center/cover;
  z-index: -1;
}

.team-header-container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--off-white);
}

.team-header-container h1 {
  font-size: 3rem;
  letter-spacing: 3px;
}

.team-people-container {
  width: 80%;
  margin: auto;
}

.team-people-container > h2 {
  font-size: 2rem;
  margin: 2rem 0;
  text-align: center;
}

.team-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
}

#team-people {
  padding: 3rem 0;
}

#team-people h3 {
  text-align: center;
  font-size: 1.3rem;
  width: 60%;
  margin: auto;
  margin-bottom: 3rem;
  font-weight: 300;
}

.team-person {
  background: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  transition: all ease 0.8s;
}

.team-person:hover {
  transform: scale(1.05);
}

.team-person a {
  color: var(--dark-grey);
}

.team-person-img {
  background: var(--dark-grey);
  width: 100%;
  height: 300px;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.team-person h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.josh {
  background: url('../images/josh.jpg') no-repeat center center/cover;
}
.anne-marie {
  background: url('../images/anne.jpg') no-repeat center center/cover;
}
.bradley {
  background: url('../images/bradley.jpg') no-repeat center top/cover;
}
.ang {
  background: url('https://scontent-lhr8-1.xx.fbcdn.net/v/t1.6435-9/82213423_2667792399972915_5215712661110521856_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=uGrd0mjfaTEAX-Ynn-s&_nc_ht=scontent-lhr8-1.xx&oh=5dc041ef9471fb1fdccf6172b082f310&oe=61244B3E') no-repeat center right/cover;
}

.den {
  background: url('https://scontent-lhr8-1.xx.fbcdn.net/v/t1.6435-9/173211440_3919944204757722_6701634930659740447_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=UE68vNT857UAX-sgcEz&_nc_ht=scontent-lhr8-1.xx&oh=61fef04f25584e2393e7cb0db3819833&oe=61250B7B') no-repeat center center/cover;
}

.charlie {
  background: url('https://scontent-lhr8-2.xx.fbcdn.net/v/t31.18172-8/19620411_1981519502077914_9148403619689207690_o.jpg?_nc_cat=104&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=6qvFFHHFZRgAX8s718t&_nc_ht=scontent-lhr8-2.xx&oh=24a04e132cd5068bed04b9e2b32b12f0&oe=61260017') no-repeat center center/cover;
}


/* Contact Page */

#contact-title {
  height: 50vh;
  background: rgba(0,0,0,0.8);
  position: relative;
  border-radius: 0 0 15vh 0;
  overflow: hidden;
}

#contact-title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/flex-dumbbells.jpg') no-repeat center center/cover;
  z-index: -1;
}

.contact-title-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-title-container h2 {
  color: var(--off-white);
  font-size: 2rem;
  letter-spacing: var(--letter-spacing);
}

/* Contact Main */

#contact-main {
  padding: 3rem 0;
}

.contact-main-container {
  display: flex;
  width: 80%;
  margin: auto;
}

.contact-main-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-main-info h2{
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
  letter-spacing: var(--letter-spacing);
}

.contact-main-info-content i {
  font-size: 1.6rem;
  color: var(--primary-red);
  margin-right: 1rem;
}

.contact-main-social {
  margin-top: 1rem;
}

.contact-main-social > i {
  font-size: 2.5rem;
  text-align: center;
  color: var(--primary-red);
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.contact-form {
  width: 50%;
}

.form-wrapper {
  padding: 1rem;
}

.form-item {
  margin: 1rem 0;
}

.form-item label {
  font-size: 1.2rem;
  letter-spacing: var(--letter-spacing);
}

.form-item input {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--primary-red);
  padding: 0.6rem 0.1rem;
  background: transparent;
}

.form-item .message {
  padding: 2rem 0.1rem;
}

.form-item input:focus {
  outline: none;
}

.form-wrapper .btn {
  background: none;
  padding: 0.8rem 1.2rem;
  border: 2px solid var(--primary-red);
  font-weight: bold;
  color: var(--primary-red);
  cursor: pointer;
}


/********** Equipment Page ***********/

#equipment-header {
  background: rgba(0,0,0,0.8);
  position: relative;
  height: 40vh;
}

#equipment-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url('../images/dumbbellarea.jpeg')no-repeat center center/cover;
}

.equipment-header-container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.equipment-header-container h1 {
  font-size: 3rem;
  letter-spacing: 3px;
  color: var(--off-white);
}
